@import "./common.scss";
@import "./color.scss";

.app-header {
  display: grid;
  grid-template: 1fr/ 1fr 1fr 1fr;

  justify-content: center;

  padding: 0 1rem;

  text-transform: uppercase;
  // border-bottom: .2rem solid darken($main-color, .5);;
  // background-color: darken($main-color, .5);

  & .header-name {
    display: flex;
    justify-content: center;
    align-items: center;

    max-height: $header-height;

    & a {
      height: 100%;
      text-decoration: none;
      color: unset;
      padding: 1rem;
    }

    & img {
      max-height: 100%;
    }
  }
}
